doctype html
html
  head
    meta(charset='utf-8')
    title Classes
    meta(name='description', content='My Parse App')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/classes.css')
    link(rel='icon', type='image/ico', href='favicon.ico')
  body
    body
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='pdf/Cerebellum_UserGuide_Final.pdf', target='_blank') Help
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='scheduling') Scheduling
              li
                a(href='rosters') Rosters
              li.active
                a(href='classes') Classes
              form.navbar-form.navbar-right.signOutForm
                button.btn.btn-link.signOut(type='submit') Sign out
          #navbar.navbar-collapse.collapse
          // /.navbar-collapse
      // Main jumbotron for a primary marketing message or call to action
      .container
        .residentsScheduling
          .alert.alert-danger.alert-dismissible.deleteAlert(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            p
              strong Wait!
              |  Are you sure you want to delete this class? This will delete this class from every participant's schedule. It cannot be undone. 
            p
              button.btn.btn-danger.actuallyRemoveClass(type='button') Remove Class
              &nbsp;
              button.btn.btn-default.closeWarning(type='button') Cancel
          .alert.alert-danger.alert-dismissible.deleteAllAlert(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            p
              strong Wait!
              |  Are you sure you want to delete all classes? This will delete all rosters and schedules and cannot be undone
            p
              button.btn.btn-danger.actuallyClearClasses(type='button') Clear Classes
              &nbsp;
              button.btn.btn-default.closeWarning(type='button') Cancel
          .alert.alert-danger.alert-dismissible.deleteAllScheduledAlert(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            p
              strong Wait!
              |  Are you sure you want to delete all scheduled classes? This will delete all rosters and schedules, but will leave the classes untouched
            p
              button.btn.btn-danger.actuallyClearScheduledClasses(type='button') Clear Classes
              &nbsp;
              button.btn.btn-default.closeWarning(type='button') Cancel
          .residentsSchedule
            .headerbar
              form.search
                .form-group
                  input#search.form-control(type='text', name='search', placeholder='Search', data-list='tbody')
              button.btn.btn-primary.addClassButtonModal(type='button' data-toggle='modal', data-target='#addClassModal') Add Class
              button.btn.btn-danger.deleteClassesButton(type='button') Delete Classes
              button.btn.btn-danger.deleteScheduledClassesButton(type='button') Delete Scheduled Classes
              #addClassModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addClassLabel', aria-hidden='true')
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                      h4#addClassLabel.modal-title Add a New Class
                    .modal-body
                      .alert.alert-danger.alert-dismissible.classNotAdded(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                          span(aria-hidden='true') ×
                        strong Oh No!&nbsp;
                        | The class could not be added. Enter a name/number for each field
                      form
                        .form-group
                          label(for='name') Name
                          input#name.form-control(type='text', placeholder='')
                          label(for='location') Location
                          input#location.form-control(type='text', placeholder='')
                          label(for='max') Max
                          input#max.form-control(type='text', placeholder='')
                        br
                        //
                          <div class="form-group">
                          <label for="contactPicture">Resident Contact Picture</label>
                          <input type="file" id="contactPicture">
                          <p class="help-block">Upload a jpg file of the resident.</p>
                          </div>
                          <div id="imagePreview"></div>
                    .modal-footer
                      button.btn.btn-default.clearModalButton(type='button', data-dismiss='modal') Close
                      button.btn.btn-primary.addClassButton.clearModalButton(type='button') Add Class
              #editClassModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editClassLabel', aria-hidden='true')
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                      h4#editClassLabel.modal-title Edit Class
                    .modal-body
                      .alert.alert-danger.alert-dismissible.classNotEdited(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                          span(aria-hidden='true') ×
                        strong Oh No!&nbsp;
                        | The participant could not be edited. Enter a name for each participant
                      form
                        .form-group
                          label(for='newName') New Name
                          input#editNewName.form-control(type='text', placeholder='')
                          label(for='location') Location
                          input#editLocation.form-control(type='text', placeholder='')
                          label(for='max') Max
                          input#editMax.form-control(type='text', placeholder='')
                        br
                        //
                          <div class="form-group">
                          <label for="contactPicture">Resident Contact Picture</label>
                          <input type="file" id="newcontactPicture">
                          <p class="help-block">Upload a jpg file of the resident.</p>
                          </div>
                          <div id="newimagePreview" class="imagePreview"></div>
                    .modal-footer
                      button.btn.btn-default.clearModalButton(type='button', data-dismiss='modal') Close
                      button.btn.btn-primary.editClassButton.clearModalButton(type='button') Edit Class
            table#classes.table.tableFix.table-hover
              thead
                tr
                  th Name
                  th Location
                  th Max
                  th Actions
              tbody
      //
        Bootstrap core JavaScript==================================================- ->
        <!-- Placed at the end of the document so the pages load faster
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/jquery.hideseek.min.js')
      script(src='js/jquery-ui.min.js')
      script(src='js/jquery.hideseek.min.js')
      script(src='/socket.io/socket.io.js')
      script(src='js/classes.js')

