doctype html
//Fractal by HTML5 UP html5up.net | @n33co Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Seven Hills Scheduling
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='icon', type='image/ico', href='favicon.ico')
  body#top
    // Header
    header#header
      .content
        h1
          a(href='#') Seven Hills Scheduling
        p
          | An easy to use scheduling tool for participants of ASPiRE! Worcester.
          br
          | Brought to you by&nbsp;
          a(href='http://users.wpi.edu/~jjaikumar/c_website/index.html', target='_blank')
            | Team
            | Cerebellum
          | .
        ul.actions
          form#signinform.form-group(role='form', action='login', method='post')
            input.form-control.usernameForm(type='text', name='username', placeholder='Username')
            br
            input.form-control.passwordForm(type='password', name='password', placeholder='Password')
          br
          li
            a.signinButton Sign in
          li
            a.icon.fa-chevron-down.scrolly(href='#one')
              | Learn
              a
    // One
    section#one.wrapper.style2.special
      header.major
        h2
          | The Scheduling Web App is a simple-to-use online tool for
          br
          | creating, updating, and viewing schedules for participants.
      ul.icons.major
        li
          a(href='#two')
            span.icon.fa-pencil
              span.label Record
        li
          a(href='#two')
            span.icon.fa-table
              span.label Edit
        li
          a(href='#two')
            span.icon.fa-thumbs-up
              span.label Upload
    // Two
    section#two.wrapper
      .inner.alt
        section.spotlight
          .image
            img(src='img/search.jpg', alt='')
          .content
            h3 Participant list and Instant Search
            p
              | The scheduling app features a rapid and easy to use search feature that allows users to quickly find and edit participants.
              | Users can add, remove, or edit existing participants with ease.
        section.spotlight
          .image
            img(src='img/export.jpg', alt='')
          .content
            h3 Export Schedules to PDFs
            p
              | Schedules can be exported as PDF documents for printing and delivering With one push of a button, a participant schedule
              | becomes a printable document. Export was added in version 2.0.0.
        section.spotlight
          .image
            img(src='img/classRoster.jpg', alt='')
          .content
            h3 Quickly find Class Rosters and times
            p
              | With the latest update, users can now quickly determined who signed up for a particular class at a specific time. Class
              | rosters can also be exported as PDF documents.
        section.special
          h2
            a(href='pdf/Cerebellum_UserGuide_Final.pdf', target='_blank') Full User Guide
    // Four
    section#four.wrapper
      .inner
        header.major
          h2 Overview
        section
          h3 A Brief Introduction
          p
            | The Seven Hills Foundation in Worcester Massachusetts offers services to people with a wide array of cognitive and physical
            | disabilities. These disabilities make performing everyday tasks challenging. The primary goal of this project is to specifically
            | address the clients’ need for accessing and remembering their schedules at Seven Hills. The project also intends to create
            | an easier way for the staff of Seven Hills to manage the schedules of the participants.
          hr
          header
            h3 Background
          p
            | The ages of the participants at the ASPiRE! Worcester Program range from 20 to 60. Most of the participants at the center
            | have Down syndrome: a genetic disorder that presents a variety of symptoms ranging from cognitive disabilities to physical
            | impairments. While therapy and training can help participants overcome most physical issues, one disability that hinders
            | patients is a low IQ. The faculty at the Seven Hills facility must work around this disorder by providing simple instructions
            | and easy to follow rules that the participants can understand. The faculty must be careful to support and respect the participants
            | while providing them with enough freedom so they can enjoy their time at the program.
          p
            | At the program, the participants are able to participate in a range of activities and plan their own schedules for the week.
            | One of the rules of the facility is that the schedules need to be reviewed by the faculty before they can be approved. The
            | current method that participants use to generate their schedules is archaic: writing schedules by hand. Not only is it difficult
            | for the faculty to manage these schedules, but also it is difficult for the participants to see their own schedules. Because
            | they can be forgetful, the participants need easy access to their own schedules to avoid chaos and confusion. This problem
            | pertains to many of the participants of the Seven Hills facility, and they would all benefit from a simple way to view and
            | edit their weekly schedules.
          blockquote
            | For further reading, please check out the
            a(href='pdf/Cerebellum_UserGuide_Final.pdf')  full user guide here.
    // Five
    section#five.wrapper
      .inner
        header.major
          h2
            a(href='http://users.wpi.edu/~jjaikumar/c_website/index.html', target='_blank') Team Cerebellum
        section
          h3 Hey Hi Hello
          p
            | We're just two guys trying to help people. Massachusetts Academy of Math and Science Class of 2016. Our links are at the
            | bottom of the page, so please feel free to get in touch with us if you have any questions.
            br
            | Jagath Jai Kumar and Sahith Nallapareddy
          hr
          blockquote
            | Please checkout
            a(href='http://users.wpi.edu/~jjaikumar/c_website/index.html', target='_blank') Team Cerebellum
            |  for more news on our latest projects.
    // Footer
    footer#footer
      ul.icons
        li
          a.icon.fa-github(href='https://github.com/snallapa/Scheduling-Web', target='_blank')
            span.label Github
        li
          a.icon.fa-google(href='https://google.com', target='_blank')
            span.label Google
        li
          a.icon.fa-stack-overflow(href='http://stackoverflow.com', target='_blank')
            span.label Stackoverflow
      p.copyright
        | © Credits:
        a(href='http://users.wpi.edu/~jjaikumar/', target='_blank') Jagath Jai Kumar
        |  and
        a(href='http://users.wpi.edu/~snallapareddy/', target='_blank') Sahith Nallapareddy
      p Version 2.1.0 Updated on July 6
      p 2015
    // Scripts
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    script(src='js/signin.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')

