doctype html
html
  head
    meta(charset='utf-8')
    title Class Rosters
    meta(name='description', content='My Parse App')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/rosters.css')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='icon', type='image/ico', href='favicon.ico')
  body
    body
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='pdf/Cerebellum_UserGuide_Final.pdf', target='_blank') Help
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='scheduling') Scheduling
              li.active
                a(href='rosters') Rosters
              li
                a(href='classes') Classes
              form.navbar-form.navbar-right.signOutForm
                button.btn.btn-link.signOut(type='submit') Sign out
      // Main jumbotron for a primary marketing message or call to action
      .container
        .residentsScheduling
          .alert.alert-warning.alert-dismissible.addParticipantWarning(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            p
              strong Wait!
              |  The name entered is not a Participant. The Participant needs to be added to be in use
            p
              button.btn.btn-default.closeWarning(type='button') Close
          .alert.alert-danger.alert-dismissible.deleteRosterWarning(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            p
              strong Wait!
              |  Would you like to delete all participants in this roster?
            p
              button.btn.btn-primary.deleteRoster(type='button') Delete Roster
              &nbsp;
              button.btn.btn-default.closeWarning(type='button') Cancel
          .residentsList
            .list-group-item
              .displayText
                a.addUserLink(data-toggle='modal', data-target='#addClassModal')
                  span.glyphicon.glyphicon-plus(aria-hidden='true')
                #addClassModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='classLabel', aria-hidden='true')
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#classLabel.modal-title Add a New Class
                        .modal-body
                          .alert.alert-danger.alert-dismissible.residentNotAdded(role='alert')
                            button.close(type='button', data-dismiss='alert', aria-label='Close')
                              span(aria-hidden='true') ×
                            strong Oh No!&nbsp;
                            | The class could not be added. Enter a name/number for each field
                          form
                            .form-group
                              label(for='name') Name
                              input#name.form-control(type='text', placeholder='')
                              label(for='location') Location
                              input#location.form-control(type='text', placeholder='')
                              label(for='max') Max
                              input#max.form-control(type='text', placeholder='')
                            br
                            //
                              <div class="form-group">
                              <label for="contactPicture">Resident Contact Picture</label>
                              <input type="file" id="contactPicture">
                              <p class="help-block">Upload a jpg file of the resident.</p>
                              </div>
                              <div id="imagePreview"></div>
                        .modal-footer
                          button.btn.btn-default.clearModalButton(type='button', data-dismiss='modal') Close
                          button.btn.btn-primary.addClassButton.clearModalButton(type='button') Add Class
                  .form-group.horizontalFix
                    input#search.form-control(type='text', name='search', placeholder='Search for class roster', data-list='.list-group')
            .list-group
          .residentsSchedule
            ul.nav.nav-tabs
              li.tabs.active(role='presentation')
                a(href='#') Monday
              li.tabs(role='presentation')
                a(href='#') Tuesday
              li.tabs(role='presentation')
                a(href='#') Wednesday
              li.tabs(role='presentation')
                a(href='#') Thursday
              li.tabs(role='presentation')
                a(href='#') Friday
            h3.classTitle
            // <h4>Instructor: PERSON</h4>
            br
            table#rosters.table.tableFix
              thead
                tr
                  th Participant
                  th Participant
              tbody
              tfoot
                th
                  button.btn.btn-warning.btn-sm.addRow(type='button') Add Row
                th
                  button.btn.btn-primary.btn-sm.exportSchedule(type='button') Export
                  
      //
        Bootstrap core JavaScript==================================================- ->
        <!-- Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery-ui.min.js')
    script(src='js/editableTable.js', type='text/javascript')
    script(src='js/jquery.hideseek.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/model/ClassEventModel.js')
    script(src='js/model/ClassModel.js')
    script(src='js/model/ParticipantModel.js')
    script(src='js/model/RosterModel.js')
    script(src='js/view/RosterListViewHelper.js')
    script(src='js/view/ListView.js')
    script(src='js/view/RosterTableView.js')
    script(src='js/view/RosterViewModel.js')
    script(src='js/view/RosterView.js')
    script(src='js/socket/SocketModel.js')
    script(src='js/controller/RosterController.js')
    script(src='js/controller/RosterStart.js')

