doctype html
html
  head
    meta(charset='utf-8')
    title Participants
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/scheduling.css')
    // link(rel='icon', type='image/ico', href='favicon.ico')
  body
    nav.navbamr.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='pdf/Cerebellum_UserGuide_Final.pdf', target='_blank') Help
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='scheduling') Scheduling
            li
              a(href='rosters') Rosters
            li
              a(href='classes') Classes
            li
              a.btn.btn-link.signOut(href='/logout') Sign out
    // Main jumbotron for a primary marketing message or call to action
    .container
      .participantName
        p
      .residentsScheduling
        .alert.alert-warning.alert-dismissible.addClassWarning(role='alert')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          p
            strong Wait!
            |  The class entered is not part of the class list. Select an option from autocomplete for optimal performance
          p
            button.btn.btn-default.closeWarning(type='button') Close
            #addClass.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addClassLabel', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                    h4#addClassLabel.modal-title Add a New Class
                  .modal-body
                    .alert.alert-danger.alert-dismissible.classNotAdded(role='alert')
                      button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') ×
                      strong Oh No! 
                      | The roster could not be added. Enter a name for each class
                    form
                      .form-group
                        label(for='newName') New Name
                        input#newName.form-control(type='text', placeholder='')
                        label(for='location') Location
                        input#location.form-control(type='text', placeholder='')
                        label(for='max') Max
                        input#max.form-control(type='text', placeholder='')
                  .modal-footer
                    button.btn.btn-default.clearModalButton(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary.addClassButton.clearModalButton(type='button') Add Class
        .alert.alert-danger.alert-dismissible.residentNotDeleted(role='alert')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          strong Oh No!
          |  The participant was not removed.
        .alert.alert-danger.alert-dismissible.residentWarning(role='alert')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          p
            strong Wait!
            |  Are you sure you want to delete this participant? This action cannot be undone (but you can always add
            |             						another one).
          p
            button.btn.btn-danger.actuallyRemoveParticipant(type='button') Remove participant
            button.btn.btn-default.closeWarning(type='button') Cancel
        .alert.alert-danger.alert-dismissible.clearWarning(role='alert')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          p
            strong Wait!
            |  Are you sure you want to clear this schedule? There is no going back.
          p
            button.btn.btn-danger.actuallyClearSchedule(type='button') Clear Schedule 
            button.btn.btn-default.closeWarning(type='button') Cancel
        .listView
          .list-group-item
            .displayText
              a.addLink(data-toggle='modal', data-target='#newParticipantModal')
                span.glyphicon.glyphicon-plus(aria-hidden='true')
              #newParticipantModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='newParticipantLabel', aria-hidden='true')
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                      h4#newParticipantLabel.modal-title Add a New User
                    .modal-body
                      .alert.alert-danger.alert-dismissible.residentNotAdded(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                          span(aria-hidden='true') ×
                        strong Oh No! 
                        | The participant could not be added. Enter a name for each participant
                      form
                        .form-group
                          label(for='name') Name
                          input#name.addName.form-control(type='text', placeholder='Enter Name')
                        br
                        //
                          <div class="form-group">
                          <label for="contactPicture">Resident Contact Picture</label>
                          <input type="file" id="contactPicture">
                          <p class="help-block">Upload a jpg file of the resident.</p>
                          </div>
                          <div id="imagePreview"></div>
                    .modal-footer
                      button.btn.btn-default.clearModalButton(type='button', data-dismiss='modal') Close
                      button.btn.btn-primary.addParticipantButton.clearModalButton(type='button') Add User
              .form-group.horizontalFix
                input#search.form-control(type='text', name='search', placeholder='Search for participants', data-list='.list-group')
          .list-group
        .residentsSchedule
          table#schedule.table.tableFix
            thead
            tbody
            tfoot.tableFooter
              tr
                th
                  button.addRow
                    span.glyphicon.glyphicon-plus(aria-hidden='true')
                  button.btn.btn-warning.btn-sm.clearSchedule(type='button', data-html2canvas-ignore='true') Clear
                th.th-fix
                  #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editLabel', aria-hidden='true')
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#editLabel.modal-title Edit User
                        .modal-body
                          .alert.alert-danger.alert-dismissible.residentNotEdited(role='alert')
                            button.close(type='button', data-dismiss='alert', aria-label='Close')
                              span(aria-hidden='true') ×
                            strong Oh No! 
                            | The participant could not be edited. Enter a name for each participant
                          form
                            .form-group
                              label(for='name') New Name
                              input#newParticipantName.form-control(type='text', placeholder='')
                            br
                            //
                              <div class="form-group">
                              <label for="contactPicture">Resident Contact Picture</label>
                              <input type="file" id="newcontactPicture">
                              <p class="help-block">Upload a jpg file of the resident.</p>
                              </div>
                              <div id="newimagePreview" class="imagePreview"></div>
                        .modal-footer
                          button.btn.btn-default.clearModalButton(type='button', data-dismiss='modal') Close
                          button.btn.btn-primary.editParticipantButton.clearModalButton(type='button') Edit User
                th
                th
                th
                th
                  button.btn.btn-primary.btn-sm.exportSchedule(type='button', data-html2canvas-ignore='true') Export
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery-ui.min.js')
    script(src='js/editableTable.js', type='text/javascript')
    script(src='js/jquery.hideseek.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/model/ClassEventModel.js')
    script(src='js/model/ClassModel.js')
    script(src='js/model/ParticipantModel.js')
    script(src='js/model/SchedulingModel.js')
    script(src='js/view/SchedulingListViewHelper.js')
    script(src='js/view/ListView.js')
    script(src='js/view/SchedulingTableView.js')
    script(src='js/view/SchedulingViewModel.js')
    script(src='js/view/SchedulingView.js')
    script(src='js/socket/SocketModel.js')
    script(src='js/controller/SchedulingController.js')
    script(src='js/controller/SchedulingStart.js')
