body {
	max-height: 100%;
	overflow-x: hidden;
}

.residentsList {
	width: 22%;
	height: 95%;
	max-height: 95%;
	padding-top: 0px;
	overflow-y: auto;
	position: absolute;
	left: 15px;
	top: 80px;
	margin-bottom: 20px
}

.residentsScheduling {
	width: 92%;
	height: 95%;
	padding-top: 80px;
	position: absolute;
	padding-left: 25%;
	top: 10px;
}

#rosters{
	width: 90%;
}

.names {
	height: 75px;
}

td {
	display: table-cell;
	vertical-align: middle;
	width: 30%;
}

.exportSchedule {
	float: right;
}

.th-fix {
	font-weight: normal;
}

.addUserLink {
	color: black;
	cursor: pointer;
}

.addUserLink:HOVER {
	color: black;
}

.horizontalFix {
	display: table-cell;
	padding-left: 4px;
}

.displayText {
	display: table;
}

#imagePreview {
	width: 180px;
	height: 180px;
	background-position: center center;
	background-size: cover;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
	display: inline-block;
}

.imagePreview {
	width: 180px;
	height: 180px;
	background-position: center center;
	background-size: cover;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
	display: inline-block;
}
.itemData {
	width: 100%;
	overflow: hidden;
	display: table;
	cursor: pointer;
}

.itemData:hover{
	background-color: #f5f5f5;
}

.removeRoster {
	float: right;
	visibility: hidden;
}
.glyphicon {
	float: right;
	text-align: center;
}

.active > .list-item-inline {
	color: white;
}

.active > .removeRoster {
	visibility: visible;
}
.removeRoster { 
	float: right;
	position: absolute;
	bottom: 38%;
	left: 85%;
	vertical-align: middle;
 }

.className .classTime{
	text-align: center;
	float: left;
	margin-bottom: 0px;
	margin-right: 0px;
}

.form-control{
	font-weight: normal;
}
